<div class="container">
	<div id="catalogo">
		<div class="cabecera">
			<h2 class="titulo">Detalles</h2>
		</div>
		<div class="productos">


			<div class="prod" *ngIf="post$ | async as post">
				<div class="foto">
					<img src="../../../../assets/{{ post.titleProduct }}.jpg">
				</div>

				<div class="tituloProducto">
					<h1>{{ post.titleProduct }}</h1>
				</div>

				<div class="precio">
					<h4>Precio: {{ post.precioProduct }}$</h4>
				</div>

				<div class="unidades">
					<h4>Unidades disponibles: {{ post.unidadesProduct }}</h4>
				</div>


			</div>
			<button type="button" class="atras"><a routerLink="/home" routerLinkActive="active">Atrás</a></button>
		</div>
	</div>
</div>
