<div class="container">
	<div id="carrito">
		<div class="cabecera">
			<h2 class="titulo">Carrito de Compras</h2>
		</div>
		<div class="productos">

			<div class="lista">

				<div class="prueba">

					<div class="prod">
						<div class="foto">
							<img src="../../../../assets/.jpg">
						</div>

						<div class="subtotal">
							<div class="nombreProducto">
								Producto:
							</div>

							<div class="cantidad">
								Cantidad:
							</div>

							<div class="subtotal">
								Subtotal: 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="total">
				<h2>Total: $</h2>
				<div class="botones">
					<button type="button" name="cancelar">Cancelar</button>
					<button type="button" name="pagar">Pagar</button>
				</div>
			</div>

		</div>

	</div>
</div>
