<div class="fondo">
  <div class="navbar">
    <div class="title">La Bodega</div>
    <ul class="menu">
      <li><a routerLink="/home" routerLinkActive="active"><img src="../../../assets/ic_dashboard_black_24px.svg" /></a></li>
      <li><a routerLink="/carrito" routerLinkActive="active"><img src="../../../assets/ic_shopping_cart_black_24px.svg" /></a></li>
      <li><a routerLink="/pagar" routerLinkActive="active"><img src="../../../assets/ic_credit_card_black_24px.svg" /></a></li>
      <li><a routerLink="/login" routerLinkActive="active"><img src="../../../assets/ic_exit_to_app_black_24px.svg" /></a></li>
    </ul>
  </div>
</div>

<!-- <span *ngIf="carShoping.length != 0"  class="numProd">{{carShoping.length}}</span> -->
